[Unit]
Description=nmeahp33a
After=network.target
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
User=midnite
Group=midnite
WorkingDirectory=/home/midnite/
StandardOutput=/home/midnite/hp33atandardout
StandardError=/home/midnite/hp33astandardout
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u nmea-hp33a.py

[Install]
WantedBy=multi-user.target
