[Unit]
Description=nmeaComm
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=15
StartLimitAction=none

[Service]
User=midnite
Group=midnite
WorkingDirectory=/home/midnite/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=90
ExecStart=/usr/bin/python3 -u nmea-comm.py

[Install]
WantedBy=multi-user.target
