[Unit]
Description=nmeabmp280
After=network.target
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
User=midnite
Group=midnite
WorkingDirectory=/home/midnite/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u nmea-bmp280.py

[Install]
WantedBy=multi-user.target
