[Unit]
Description=nmeabmp280
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=15
StartLimitAction=none

[Service]
User=midnite
Group=midnite
WorkingDirectory=/home/midnite/
StandardOutput=/home/midnite/bmp280standardout
StandardError=/home/midnite/bmp280standarderror
Restart=always
RestartSec=90
ExecStart=/usr/bin/python3 -u nmea-bmp280.py

[Install]
WantedBy=multi-user.target
